node_modules
**/node_modules
.git
.nuxt
**/.nuxt
.output
**/.output
.nitro
**/.nitro
.cache
dist
.turbo
coverage
*.log
.DS_Store
playwright-report
test-results
storybook-static
.storybook-static
*.tsbuildinfo
.idea
.vscode
.env
.env.*
!.env.example
