node_modules
.output
.nuxt
.data
.nitro
.cache
dist
.turbo
coverage
*.log
.env
.env.*
!.env.example
.DS_Store
playwright-report
test-results
storybook-static
.storybook-static
benchmarks/results
*.tsbuildinfo
.idea
.vscode/*
!.vscode/extensions.json
